h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
    text-align: center;
}
p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}
.call-to-action {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.call-to-action h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}
.call-to-action p {
  font-size: 1em;
  margin-bottom: 20px;
}
.call-to-action a {
  background-color: var(--accent1-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.newsletter {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: var(text-font);
    text-align: center;
}
.newsletter legend {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.newsletter label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--accent1-color);
    border-radius: 4px;
    font-size: 1em;
}
.newsletter button {
    background-color: var(--accent1-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 30%;
    align-items: center;
}
.rafting-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    font-family: var(text-font);
    justify-content: center;

}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    color: var(--accent1-color)
    justify-content: center;    
}
.rafting-info.info-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.rafting-info.info-item p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.rafting-info.info-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
}
