/* Navigation */
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Main */
main {
    max-width: 800px;
}

/* Headings */
h1 {
    color: darkblue;
}

/* Main image */
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Paragraph */
p {
    padding: 0;
}

/* Aside */
aside {
    width: 200px;
    height: auto;
    margin: 20px;
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(77, 225, 159);
    color: darkolivegreen;
}

aside img {
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}